<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seatx">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SeatX">
        <activity android:name=".EraseData"></activity>
        <activity android:name=".ShowStudentData" />
        <activity android:name=".CreditAdd" />
        <activity android:name=".AdminLogIn" />
        <activity android:name=".AdminDarta" />
        <activity android:name=".SeatAdd" />
        <activity android:name=".AdminPanel" />
        <activity android:name=".BusOutUni" />
        <activity android:name=".BusInUni" />
        <activity android:name=".StudentBusS" />
        <activity android:name=".StudentData" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>